@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #1e1b18;
  box-sizing: border-box;
  scroll-behavior: smooth; }
  body.dark * {
    color: #fcfcfcdc; }

body {
  overflow-x: hidden;
  background-color: #fcfcfc; }
  body.dark {
    background-color: #1e1b18; }

h1, h2, h3, h4 {
  font-weight: 700; }
  body.dark h1, body.dark h2, body.dark h3, body.dark h4 {
    color: #FCFCFC; }

a {
  text-decoration: none; }

button, .main__img .main__img__section .contador .contador_div a, .main__product .info__product .btn__producto {
  cursor: pointer;
  border: none;
  color: #FFFFFF;
  background-color: #1e1b18;
  padding: 15px;
  font-weight: 600; }
  button:hover, .main__img .main__img__section .contador .contador_div a:hover, .main__product .info__product .btn__producto:hover {
    background-color: #d8315b; }
  body.dark button, body.dark .main__img .main__img__section .contador .contador_div a, .main__img .main__img__section .contador .contador_div body.dark a, body.dark .main__product .info__product .btn__producto, .main__product .info__product body.dark .btn__producto {
    color: #FFFFFF;
    background-color: #21385e; }
    body.dark button:hover, body.dark .main__img .main__img__section .contador .contador_div a:hover, .main__img .main__img__section .contador .contador_div body.dark a:hover, body.dark .main__product .info__product .btn__producto:hover, .main__product .info__product body.dark .btn__producto:hover {
      background-color: #d64c73; }

#btn-clicked {
  cursor: url(../../assets/img/iconos/ball.svg), auto;
  color: #FFFFFF;
  background-color: #d8315b;
  font-weight: 600; }
  body.dark #btn-clicked {
    color: #FFFFFF;
    background-color: #d64c73; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 10%;
  background-color: #FFFFFF;
  position: sticky;
  flex-wrap: nowrap; }
  body.dark header {
    background-color: #201e1b; }
  header div a {
    display: inline-block;
    text-decoration: none; }
  header nav {
    display: inline-block;
    align-items: center;
    justify-content: center; }
  header ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    header ul li {
      width: fit-content;
      display: flex;
      margin: 3%; }
      header ul li a {
        font-weight: 600;
        display: inline-block;
        text-decoration: none;
        text-align: center; }
        header ul li a:hover {
          color: #3e92cc; }
        body.dark header ul li a:hover {
          color: #d64c73; }

footer {
  background-color: #FFFFFF;
  margin-top: 5%;
  padding: 5% 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0; }
  body.dark footer {
    background-color: #201e1b; }
  footer .footer__titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 2%; }
    footer .footer__titulo h3 {
      border-bottom: 2px solid #3e92cc;
      padding: 2%; }
      body.dark footer .footer__titulo h3 {
        border-bottom: 2px solid #d64c73; }
  footer .foot {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    column-gap: 5%; }
    footer .foot .footer__div {
      display: flex;
      flex-direction: column;
      max-width: 40%; }
  footer .pelota {
    z-index: 5;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #3e92cc;
    animation: rebota 1s alternate infinite ease-in; }
    body.dark footer .pelota {
      background-color: #d64c73; }

.main__img {
  width: 100%; }
  .main__img .main__img__section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main__img .main__img__section img {
      z-index: 1;
      position: relative;
      overflow: hidden; }
    .main__img .main__img__section .contador {
      z-index: 3;
      background-color: #ffffff70;
      backdrop-filter: blur(2px);
      position: absolute;
      text-align: center;
      display: grid;
      grid-template-areas: "p" "contador" "boton"; }
      .main__img .main__img__section .contador .contador-num {
        font-size: 2rem;
        font-weight: 600; }
      .main__img .main__img__section .contador .contador_div {
        padding: 0%;
        margin: 5% 5%; }
      .main__img .main__img__section .contador .contador_div1 {
        grid-area: p; }
        .main__img .main__img__section .contador .contador_div1 p {
          font-weight: 600; }
      .main__img .main__img__section .contador .contador_div2 {
        grid-area: contador;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(7, 1fr); }
      .main__img .main__img__section .contador .contador_div3 {
        grid-area: boton; }
      .main__img .main__img__section .contador .contador_div a {
        background-color: #1e1b18;
        color: #FFFFFF; }

.main__contenido {
  margin: 2% 10%; }

.carrito {
  margin: 5% 10%;
  display: grid;
  grid-template-areas: "head" "body" "envio" "cupon" "total"; }
  .carrito .carrito__head {
    grid-area: head;
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 1% 0%;
    padding: 1% 0%;
    background-color: #FFFFFF;
    justify-content: space-around;
    grid-template-areas: "head1 head2 head3 head4 head5 head6";
    grid-template-columns: 5% 20% 25% 15% 15% 15%; }
    body.dark .carrito .carrito__head {
      background-color: #201e1b; }
    .carrito .carrito__head .carrito__head__div1 {
      grid-area: head1; }
    .carrito .carrito__head .carrito__head__div2 {
      grid-area: head2; }
    .carrito .carrito__head .carrito__head__div3 {
      grid-area: head3; }
    .carrito .carrito__head .carrito__head__div4 {
      grid-area: head4; }
    .carrito .carrito__head .carrito__head__div5 {
      grid-area: head5; }
    .carrito .carrito__head .carrito__head__div6 {
      grid-area: head6; }
  .carrito .carrito__body {
    grid-area: body;
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 1% 0% 2% 0%;
    padding: 1% 0%;
    background-color: #FFFFFF;
    grid-template-rows: auto;
    row-gap: 2%; }
    body.dark .carrito .carrito__body {
      background-color: #201e1b; }
    .carrito .carrito__body .carrito__body__div {
      display: grid;
      align-items: center;
      justify-items: center;
      justify-content: space-around;
      grid-template-areas: "delete foto detalle talle cantidad precio";
      grid-template-columns: 5% 20% 25% 15% 15% 15%;
      width: 100%; }
      .carrito .carrito__body .carrito__body__div .body-row {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5%; }
      .carrito .carrito__body .carrito__body__div .carrito__body__div__row1 {
        grid-area: delete; }
        .carrito .carrito__body .carrito__body__div .carrito__body__div__row1 span {
          cursor: pointer; }
      .carrito .carrito__body .carrito__body__div .carrito__body__div__row2 {
        grid-area: foto; }
        .carrito .carrito__body .carrito__body__div .carrito__body__div__row2 .img_carrito {
          width: 200px;
          height: 200px;
          object-fit: cover;
          overflow: hidden; }
      .carrito .carrito__body .carrito__body__div .carrito__body__div__row3 {
        grid-area: detalle; }
      .carrito .carrito__body .carrito__body__div .carrito__body__div__row4 {
        grid-area: talle; }
      .carrito .carrito__body .carrito__body__div .carrito__body__div__row5 {
        grid-area: cantidad; }
      .carrito .carrito__body .carrito__body__div .carrito__body__div__row6 {
        grid-area: precio; }
  .carrito .carrito__envio {
    grid-area: envio;
    padding: 1% 0%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-areas: "envio1 envio2 envio3 envio4 envio5 envio6";
    background-color: #FFFFFF; }
    body.dark .carrito .carrito__envio {
      background-color: #201e1b; }
  .carrito .carrito__cupon {
    grid-area: cupon;
    padding: 1% 0%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-areas: "cupon1 cupon2 cupon3 cupon4 cupon5 cupon6";
    background-color: #FFFFFF; }
    body.dark .carrito .carrito__cupon {
      background-color: #201e1b; }
    body.dark .carrito .carrito__cupon input {
      background-color: #201e1b; }
    .carrito .carrito__cupon button, .carrito .carrito__cupon .main__img .main__img__section .contador .contador_div a, .main__img .main__img__section .contador .contador_div .carrito .carrito__cupon a, .carrito .carrito__cupon .main__product .info__product .btn__producto, .main__product .info__product .carrito .carrito__cupon .btn__producto {
      padding: 5px; }
  .carrito .carrito__total {
    grid-area: total;
    padding: 1% 0%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-areas: "total1 total2 total3 total4 total5 total6";
    background-color: #FFFFFF; }
    body.dark .carrito .carrito__total {
      background-color: #201e1b; }

.main__contacto {
  width: 100%;
  display: flex; }
  .main__contacto section {
    width: 50%; }
  .main__contacto .main__contacto__sec2 {
    background-image: url(../../assets/img/img_contacto/messi_llamando.jpg);
    background-position: center;
    background-size: cover; }
  .main__contacto .main__contacto__sec1 {
    padding: 5% 2%; }

.shop {
  width: 100%;
  display: flex; }
  .shop .shop__filtro {
    width: 25%;
    height: 80vh;
    background-color: #FFFFFF;
    margin: 2%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    body.dark .shop .shop__filtro {
      background-color: #201e1b; }
    .shop .shop__filtro .shop__filtro__buscar {
      display: inline-flex; }
      .shop .shop__filtro .shop__filtro__buscar input {
        width: 65%;
        margin-right: 10px; }
        body.dark .shop .shop__filtro .shop__filtro__buscar input {
          background-color: #201e1b; }
    .shop .shop__filtro .shop__filtro__filtrar h4 {
      display: inline-flex; }
    .shop .shop__filtro .shop__filtro__filtrar .shop__filtro__filtrar__rango {
      width: 65%; }
    .shop .shop__filtro .shop__filtro__club {
      display: flex;
      flex-direction: column;
      width: 50%; }
      .shop .shop__filtro .shop__filtro__club button, .shop .shop__filtro .shop__filtro__club .main__img .main__img__section .contador .contador_div a, .main__img .main__img__section .contador .contador_div .shop .shop__filtro .shop__filtro__club a, .shop .shop__filtro .shop__filtro__club .main__product .info__product .btn__producto, .main__product .info__product .shop .shop__filtro .shop__filtro__club .btn__producto {
        margin: 5px;
        padding: 5px; }
  .shop .shop__cards {
    width: 75%;
    height: 80vh;
    margin: 2%;
    background-color: #FFFFFF;
    overflow: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1%; }
    body.dark .shop .shop__cards {
      background-color: #201e1b; }
    .shop .shop__cards .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 600px; }
      .shop .shop__cards .card .card__img {
        width: 80%;
        padding-top: 25px; }
        .shop .shop__cards .card .card__img img {
          width: 100%;
          height: 400px;
          object-fit: cover;
          overflow: hidden; }
      .shop .shop__cards .card .card__txt {
        width: 80%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .shop .shop__cards .card .card__txt .card__txt__div .txt__liga {
          color: #1e1b18; }
          body.dark .shop .shop__cards .card .card__txt .card__txt__div .txt__liga {
            color: #7aafcc; }
        .shop .shop__cards .card .card__txt .card__txt__stock {
          font-size: 0px; }
      .shop .shop__cards .card .card__txt__btn {
        width: 80%;
        cursor: pointer;
        bottom: 0px;
        position: relative;
        display: flex;
        align-self: center;
        justify-content: center;
        text-align: center;
        margin: 0% 20%;
        padding: 5px 10px;
        color: #FFFFFF;
        background-color: #1e1b18; }
        body.dark .shop .shop__cards .card .card__txt__btn {
          color: #FFFFFF;
          background-color: #21385e; }
        .shop .shop__cards .card .card__txt__btn:hover {
          background-color: #d8315b; }
        body.dark .shop .shop__cards .card .card__txt__btn:hover {
          background-color: #d64c73; }

.filtro__sacar {
  display: none !important; }

.eliminarFiltro {
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 5px 10px;
  color: #FFFFFF;
  background-color: #1e1b18; }
  .eliminarFiltro:hover {
    background-color: #d8315b; }
  body.dark .eliminarFiltro {
    color: #FFFFFF;
    background-color: #21385e; }
    body.dark .eliminarFiltro:hover {
      background-color: #d64c73; }

.main__product {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh; }
  .main__product .sec__img__product {
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    padding: 2%; }
    .main__product .sec__img__product .img__product {
      width: 100%; }
  .main__product .info__product {
    width: 50%;
    padding: 2%; }
    .main__product .info__product .info__product__titulo h2 {
      font-size: xx-large; }
    .main__product .info__product .btn__producto {
      background-color: #1e1b18;
      color: #FFFFFF; }
    body.dark .main__product .info__product #cantidad, body.dark .main__product .info__product #talle {
      background-color: #201e1b; }

.product__separar {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .product__separar div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px; }
    .product__separar div a {
      margin: 0 1%;
      text-align: center; }

.main__product__relacionados {
  display: flex;
  align-items: center;
  margin: 2% 10%; }

@keyframes rebota {
  90% {
    height: 20px; }
  100% {
    transform: translateY(60px);
    height: 18px; } }

#theme {
  border: 5px solid #FFFFFF; }
  body.dark #theme {
    border: 5px solid #201e1b; }

.theme {
  background-color: #3e92cc;
  padding: 0;
  border-radius: 1000px;
  position: relative;
  display: flex; }
  .theme span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #FFFFFF; }
  .theme::after {
    content: url(../../assets/img/iconos/iconodarkmode.png);
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: unset;
    right: 0;
    border-radius: 100px; }
  .theme.theme_active {
    background-color: #0a2463; }
    .theme.theme_active:hover {
      background-color: #d64c73; }
    .theme.theme_active::after {
      top: 0;
      left: 0;
      right: unset; }
