@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@keyframes rebota {
  90% {
    height: 20px; }
  100% {
    transform: translateY(60px);
    height: 18px; } }

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #1e1b18;
  box-sizing: border-box;
  scroll-behavior: smooth; }
  body.dark * {
    color: #fcfcfcdc; }

body {
  overflow-x: hidden;
  background-color: #fcfcfc; }
  body.dark {
    background-color: #1e1b18; }

h1, h2, h3, h4 {
  font-weight: 700; }
  body.dark h1, body.dark h2, body.dark h3, body.dark h4 {
    color: #FCFCFC; }

a {
  text-decoration: none; }

strong {
  font-weight: 700;
  color: #3e92cc; }
  body.dark strong {
    color: #d64c73; }

button, .main__img .main__img__section .contador .contador_div a, .main__product .info__product .btn__producto {
  cursor: pointer;
  border: none;
  color: #FFFFFF;
  background-color: #1e1b18;
  padding: 15px;
  font-weight: 600; }
  button:hover, .main__img .main__img__section .contador .contador_div a:hover, .main__product .info__product .btn__producto:hover {
    background-color: #d8315b; }
  body.dark button, body.dark .main__img .main__img__section .contador .contador_div a, .main__img .main__img__section .contador .contador_div body.dark a, body.dark .main__product .info__product .btn__producto, .main__product .info__product body.dark .btn__producto {
    color: #FFFFFF;
    background-color: #21385e; }
    body.dark button:hover, body.dark .main__img .main__img__section .contador .contador_div a:hover, .main__img .main__img__section .contador .contador_div body.dark a:hover, body.dark .main__product .info__product .btn__producto:hover, .main__product .info__product body.dark .btn__producto:hover {
      background-color: #d64c73; }
  button:disabled, .main__img .main__img__section .contador .contador_div a:disabled, .main__product .info__product .btn__producto:disabled {
    cursor: not-allowed;
    background-color: #4c4b49; }
    body.dark button:disabled, body.dark .main__img .main__img__section .contador .contador_div a:disabled, .main__img .main__img__section .contador .contador_div body.dark a:disabled, body.dark .main__product .info__product .btn__producto:disabled, .main__product .info__product body.dark .btn__producto:disabled {
      background-color: #4c4b49; }
    button:disabled:hover, .main__img .main__img__section .contador .contador_div a:disabled:hover, .main__product .info__product .btn__producto:disabled:hover {
      background-color: #4c4b49; }
      body.dark button:disabled:hover, body.dark .main__img .main__img__section .contador .contador_div a:disabled:hover, .main__img .main__img__section .contador .contador_div body.dark a:disabled:hover, body.dark .main__product .info__product .btn__producto:disabled:hover, .main__product .info__product body.dark .btn__producto:disabled:hover {
        background-color: #4c4b49; }

#btn-clicked {
  cursor: url(../../assets/img/iconos/ball.svg), auto;
  color: #FFFFFF;
  background-color: #d8315b;
  font-weight: 600; }
  body.dark #btn-clicked {
    color: #FFFFFF;
    background-color: #d64c73; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 10%;
  background-color: #FFFFFF;
  position: sticky;
  flex-wrap: nowrap;
  z-index: 5; }
  header #logo {
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: #FFFFFF;
    border-radius: 50%; }
  body.dark header {
    background-color: #201e1b; }
  header div a {
    display: inline-block;
    text-decoration: none; }
  header nav {
    display: inline-block;
    align-items: center;
    justify-content: center; }
  header ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    header ul li {
      width: fit-content;
      display: flex;
      margin: 3%; }
      header ul li a {
        font-weight: 600;
        display: inline-block;
        text-decoration: none;
        text-align: center; }
        header ul li a:hover {
          color: #3e92cc; }
        body.dark header ul li a:hover {
          color: #d64c73; }

footer {
  background-color: #FFFFFF;
  margin-top: 5%;
  padding: 5% 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0; }
  body.dark footer {
    background-color: #201e1b; }
  footer .footer__titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 2%; }
    footer .footer__titulo h3 {
      border-bottom: 2px solid #3e92cc;
      padding: 2%; }
      body.dark footer .footer__titulo h3 {
        border-bottom: 2px solid #d64c73; }
  footer .foot {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    column-gap: 5%; }
    footer .foot .footer__div {
      display: flex;
      flex-direction: column;
      max-width: 40%; }
  footer .pelota {
    z-index: 5;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #3e92cc;
    animation: rebota 1s alternate infinite ease-in; }
    body.dark footer .pelota {
      background-color: #d64c73; }

.main__img {
  width: 100%; }
  .main__img .main__img__section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main__img .main__img__section img {
      z-index: 1;
      position: relative;
      overflow: hidden; }
    .main__img .main__img__section .contador {
      z-index: 2;
      background-color: #ffffff70;
      backdrop-filter: blur(2px);
      position: absolute;
      text-align: center;
      display: grid;
      grid-template-areas: "p" "contador" "boton"; }
      .main__img .main__img__section .contador .contador-num {
        font-size: 2rem;
        font-weight: 600; }
      .main__img .main__img__section .contador .contador_div {
        padding: 0%; }
      .main__img .main__img__section .contador .contador_div1 {
        grid-area: p;
        margin: 4% 2%; }
        .main__img .main__img__section .contador .contador_div1 p {
          font-weight: 600; }
      .main__img .main__img__section .contador .contador_div2 {
        grid-area: contador;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(7, 1fr);
        margin: 4% 2%; }
      .main__img .main__img__section .contador .contador_div3 {
        grid-area: boton;
        margin: 4% 2%; }
      .main__img .main__img__section .contador .contador_div a {
        background-color: #1e1b18;
        color: #FFFFFF; }

.main__contenido {
  margin: 2% 10%; }
  .main__contenido section {
    margin: 5% 0%; }
  .main__contenido .sec__principal {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #3e92cc;
    padding: 5%; }
    body.dark .main__contenido .sec__principal {
      border-bottom: 2px solid #d64c73; }
    .main__contenido .sec__principal div {
      width: 50%;
      overflow: hidden; }
      .main__contenido .sec__principal div img {
        width: 100%;
        max-width: 900px;
        object-fit: contain;
        overflow: hidden;
        transition: all .5s ease; }
        .main__contenido .sec__principal div img:hover {
          scale: 1.2;
          transition: all ease 1s; }
    .main__contenido .sec__principal .sec__principal__div h1 {
      font-size: 2.5rem;
      font-weight: 700; }
    .main__contenido .sec__principal .sec__principal__div p {
      font-size: 1.2rem;
      padding: 5% 0%; }
  .main__contenido .sec__equipos h2 {
    text-align: center;
    margin: 5% 0% 2%;
    font-size: 2rem; }
  .main__contenido .sec__equipos div {
    overflow: hidden; }
    .main__contenido .sec__equipos div .sec__equipos__div_img {
      width: 100%;
      object-fit: cover;
      overflow: hidden;
      transition: all .5s ease; }
      .main__contenido .sec__equipos div .sec__equipos__div_img:hover {
        scale: 1.2;
        transition: all ease 1s; }
  .main__contenido .sec__campeones {
    display: flex;
    align-items: center; }
    .main__contenido .sec__campeones .sec__campeones_div1 {
      overflow: hidden;
      width: 50%; }
      .main__contenido .sec__campeones .sec__campeones_div1 img {
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        transition: all .5s ease; }
        .main__contenido .sec__campeones .sec__campeones_div1 img:hover {
          scale: 1.2;
          transition: all ease 1s; }
    .main__contenido .sec__campeones .sec__campeones_div2 {
      width: 50%; }
      .main__contenido .sec__campeones .sec__campeones_div2 h2 {
        text-align: left;
        padding: 5%; }
      .main__contenido .sec__campeones .sec__campeones_div2 p {
        padding: 0% 5%; }
  .main__contenido .sec__proximamente .sec__proximamente__div {
    display: flex;
    align-items: center; }
    .main__contenido .sec__proximamente .sec__proximamente__div p {
      color: #FFFFFF;
      position: absolute;
      z-index: 3;
      margin: 2%;
      font-weight: 700;
      font-size: 1.2rem; }
      .main__contenido .sec__proximamente .sec__proximamente__div p body .dark {
        text-shadow: 4px 2px 6px #1e1b18; }
    .main__contenido .sec__proximamente .sec__proximamente__div div {
      overflow: hidden;
      display: flex;
      object-fit: scale-down; }
      .main__contenido .sec__proximamente .sec__proximamente__div div img {
        position: relative;
        z-index: 0;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        transition: all .5s ease;
        filter: blur(3px) brightness(85%); }
        .main__contenido .sec__proximamente .sec__proximamente__div div img:hover {
          scale: 1.2;
          transition: all ease 1s; }

.carrito__titulo, .carrito__formulario {
  margin: 5% 11% 2%; }

.carrito {
  margin: 5% 10%;
  display: grid;
  grid-template-areas: "head" "body" "envio" "cupon" "total" "finalizar"; }
  .carrito .carrito__head {
    grid-area: head;
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 1% 0%;
    padding: 1% 0%;
    background-color: #FFFFFF;
    justify-content: space-around;
    grid-template-areas: "head1 head2 head3 head4 head5 head6";
    grid-template-columns: 5% 20% 25% 15% 15% 15%; }
    body.dark .carrito .carrito__head {
      background-color: #201e1b; }
    .carrito .carrito__head .carrito__head__div1 {
      grid-area: head1; }
    .carrito .carrito__head .carrito__head__div2 {
      grid-area: head2; }
    .carrito .carrito__head .carrito__head__div3 {
      grid-area: head3; }
    .carrito .carrito__head .carrito__head__div4 {
      grid-area: head4; }
    .carrito .carrito__head .carrito__head__div5 {
      grid-area: head5; }
    .carrito .carrito__head .carrito__head__div6 {
      grid-area: head6; }
  .carrito .carrito__body {
    grid-area: body;
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 1% 0% 2% 0%;
    padding: 1% 0%;
    background-color: #FFFFFF;
    grid-template-rows: auto;
    row-gap: 2%; }
    body.dark .carrito .carrito__body {
      background-color: #201e1b; }
    .carrito .carrito__body .carrito__body__div {
      display: grid;
      align-items: center;
      justify-items: center;
      justify-content: space-around;
      grid-template-areas: "delete foto detalle talle cantidad precio";
      grid-template-columns: 5% 20% 25% 15% 15% 15%;
      width: 100%; }
      .carrito .carrito__body .carrito__body__div .body-row {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5%; }
      .carrito .carrito__body .carrito__body__div .carrito__body__div__row1 {
        grid-area: delete; }
        .carrito .carrito__body .carrito__body__div .carrito__body__div__row1 span {
          cursor: pointer; }
      .carrito .carrito__body .carrito__body__div .carrito__body__div__row2 {
        grid-area: foto; }
        .carrito .carrito__body .carrito__body__div .carrito__body__div__row2 .img_carrito {
          width: 200px;
          height: 200px;
          object-fit: cover;
          overflow: hidden; }
      .carrito .carrito__body .carrito__body__div .carrito__body__div__row3 {
        grid-area: detalle; }
      .carrito .carrito__body .carrito__body__div .carrito__body__div__row4 {
        grid-area: talle; }
      .carrito .carrito__body .carrito__body__div .carrito__body__div__row5 {
        grid-area: cantidad; }
      .carrito .carrito__body .carrito__body__div .carrito__body__div__row6 {
        grid-area: precio; }
  .carrito .carrito__envio {
    grid-area: envio;
    display: grid;
    padding: 1% 5%;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #FFFFFF;
    grid-template-areas: "envio1 envio2 envio3 envio4 envio5 envio6"; }
    body.dark .carrito .carrito__envio {
      background-color: #201e1b; }
  .carrito .carrito__cupon {
    grid-area: cupon;
    padding: 1% 5%;
    display: grid;
    padding: 1% 5%;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #FFFFFF;
    grid-template-areas: "cupon1 cupon1 cupon2 cupon3 cupon4 cupon5"; }
    body.dark .carrito .carrito__cupon {
      background-color: #201e1b; }
    body.dark .carrito .carrito__cupon input {
      background-color: #201e1b; }
    .carrito .carrito__cupon button, .carrito .carrito__cupon .main__img .main__img__section .contador .contador_div a, .main__img .main__img__section .contador .contador_div .carrito .carrito__cupon a, .carrito .carrito__cupon .main__product .info__product .btn__producto, .main__product .info__product .carrito .carrito__cupon .btn__producto {
      padding: 5px; }
    .carrito .carrito__cupon #agregar_cupon {
      margin-right: 1%; }
    .carrito .carrito__cupon .carrito__cupon__div1 {
      grid-area: cupon1; }
    .carrito .carrito__cupon .carrito__cupon__div6 {
      grid-area: cupon5;
      text-align: end; }
  .carrito .carrito__total {
    grid-area: total;
    display: grid;
    padding: 1% 5%;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #FFFFFF;
    grid-template-areas: "total1 total2 total3 total4 total5 total6"; }
    body.dark .carrito .carrito__total {
      background-color: #201e1b; }
    .carrito .carrito__total .carrito__total__div6 {
      grid-area: total6;
      text-align: end; }
  .carrito .carrito__finalizar {
    grid-area: finalizar;
    display: grid;
    padding: 1% 5%;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #FFFFFF;
    grid-template-areas: "fin1 fin2 fin3 fin4 fin5"; }
    body.dark .carrito .carrito__finalizar {
      background-color: #201e1b; }
    .carrito .carrito__finalizar .carrito__finalizar__div5 {
      grid-area: fin5;
      text-align: end; }

.btn-carrito-delete {
  background-color: transparent; }
  .btn-carrito-delete:hover {
    background-color: transparent;
    scale: 1.2;
    transition: all ease 1s; }
  body .dark .btn-carrito-delete {
    background-color: transparent; }

.formulario__sec {
  display: flex;
  justify-content: center; }
  .formulario__sec h3 {
    margin-top: 2%; }
  body.dark .formulario__sec input, body.dark .formulario__sec select, body.dark .formulario__sec textarea {
    background-color: #201e1b; }
  .formulario__sec label {
    display: flex;
    justify-content: space-between; }
    .formulario__sec label p {
      color: #d8315b; }
      body.dark .formulario__sec label p {
        color: #d64c73; }
  .formulario__sec div {
    display: grid;
    margin: 2% 0%; }
  .formulario__sec .form_facturacion, .formulario__sec .form_envio {
    grid-template-columns: 45% 45%;
    justify-content: space-between; }
    .formulario__sec .form_facturacion div, .formulario__sec .form_envio div {
      margin: 2% 0%; }
  .formulario__sec .form_dni {
    grid-template-columns: 20% 45%;
    justify-content: flex-start;
    align-items: center; }
    .formulario__sec .form_dni div {
      margin: 2% 2%; }
  .formulario__sec textarea {
    resize: none; }

.main__nosotros {
  background-color: #FFFFFF;
  padding: 3%;
  margin-bottom: 5%; }
  body.dark .main__nosotros {
    background-color: #201e1b; }
  .main__nosotros .main__nosotros_presentacion {
    text-align: center; }
    .main__nosotros .main__nosotros_presentacion h1 {
      margin: 2% 0%; }

.main__info {
  margin: 2% 10%;
  display: flex;
  flex-direction: column; }
  .main__info h3 {
    font-size: 1.5rem;
    margin: 1% 0; }
  .main__info .info_sec1 {
    border-bottom: 2px solid #3e92cc;
    padding: 2%; }
    .main__info .info_sec1 ul {
      margin: 2% 0; }
    .main__info .info_sec1 li {
      list-style-type: none;
      padding-left: 10px;
      font-size: 0.8rem; }
    body.dark .main__info .info_sec1 {
      border-bottom: 2px solid #d64c73; }
  .main__info .info_sec2 h4 strong {
    font-size: 1.5rem; }
  .main__info .info_sec2 div {
    margin-top: 2%; }
  .main__info .info_sec2 .info_sec2-paginas {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between; }
    .main__info .info_sec2 .info_sec2-paginas .gatito {
      padding: 5% 0%;
      display: flex;
      justify-content: flex-end; }

.main__contacto {
  margin: 5% 10%;
  display: flex; }
  .main__contacto section {
    width: 50%; }
  .main__contacto .main__contacto__sec2 {
    background-image: url(../../assets/img/img_contacto/messi_llamando.jpg);
    background-position: center;
    background-size: cover;
    padding: 5% 2%; }
  .main__contacto .main__contacto__sec1 {
    padding: 5% 2%; }
    .main__contacto .main__contacto__sec1 div {
      margin: 2% 0%;
      display: grid;
      grid-template-columns: 45% 45%;
      justify-content: space-between;
      align-items: stretch; }
      body.dark .main__contacto .main__contacto__sec1 div input, body.dark .main__contacto .main__contacto__sec1 div textarea {
        background-color: #201e1b; }
      .main__contacto .main__contacto__sec1 div div {
        display: flex;
        flex-direction: column; }
      .main__contacto .main__contacto__sec1 div label {
        display: flex;
        justify-content: space-between; }
        .main__contacto .main__contacto__sec1 div label p {
          color: #d8315b; }
          body.dark .main__contacto .main__contacto__sec1 div label p {
            color: #d64c73; }
    .main__contacto .main__contacto__sec1 button, .main__contacto .main__contacto__sec1 .main__img .main__img__section .contador .contador_div a, .main__img .main__img__section .contador .contador_div .main__contacto .main__contacto__sec1 a, .main__contacto .main__contacto__sec1 .main__product .info__product .btn__producto, .main__product .info__product .main__contacto .main__contacto__sec1 .btn__producto {
      margin: 5% 0%; }
    .main__contacto .main__contacto__sec1 input, .main__contacto .main__contacto__sec1 textarea {
      border: none;
      padding: 5px; }
    .main__contacto .main__contacto__sec1 textarea {
      resize: none;
      width: 100%;
      height: 150px; }
      body.dark .main__contacto .main__contacto__sec1 textarea {
        background-color: #201e1b; }

.shop {
  width: 100%;
  display: flex; }
  .shop .shop__filtro {
    width: 25%;
    height: 80vh;
    background-color: #FFFFFF;
    margin: 2%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    body.dark .shop .shop__filtro {
      background-color: #201e1b; }
    .shop .shop__filtro .shop__filtro__buscar {
      display: inline-flex; }
      .shop .shop__filtro .shop__filtro__buscar input {
        width: 65%;
        margin-right: 10px; }
        body.dark .shop .shop__filtro .shop__filtro__buscar input {
          background-color: #201e1b; }
    .shop .shop__filtro .shop__filtro__filtrar h4 {
      display: inline-flex; }
    .shop .shop__filtro .shop__filtro__filtrar .shop__filtro__filtrar__rango {
      width: 65%; }
    .shop .shop__filtro .shop__filtro__range {
      max-width: 50%;
      /* ELIMINAR DEFAULT */
      /* ESTILOS DE LA PELOTITA*/
      /* Para chrome*/
      /* para Firefox */
      /* para IE */
      /* ESTILOS PARA EL SLIDER*/
      /* TEXTO ABAJO DEL INPUT */ }
      .shop .shop__filtro .shop__filtro__range div {
        display: flex;
        align-items: flex-end; }
      .shop .shop__filtro .shop__filtro__range span {
        font-size: 3rem;
        transform: scaleX(-1);
        width: 20%;
        color: #1e1b18;
        top: 0;
        right: 0;
        margin-left: 5%;
        float: left; }
        body.dark .shop .shop__filtro .shop__filtro__range span {
          color: #d64c73; }
      .shop .shop__filtro .shop__filtro__range input[type=range] {
        -webkit-appearance: none;
        width: 100%;
        cursor: pointer;
        color: transparent;
        background: transparent;
        border-color: transparent; }
      .shop .shop__filtro .shop__filtro__range input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 100%;
        cursor: pointer;
        color: transparent;
        background: transparent;
        border-color: transparent; }
      .shop .shop__filtro .shop__filtro__range input[type=range]:focus {
        outline: none; }
      .shop .shop__filtro .shop__filtro__range input[type=range]::-ms-track {
        -webkit-appearance: none;
        width: 100%;
        cursor: pointer;
        color: transparent;
        background: transparent;
        border-color: transparent; }
      .shop .shop__filtro .shop__filtro__range input[type=range]::-webkit-slider-thumb {
        border: none;
        height: 17px;
        width: 17px;
        margin-top: -8px;
        border-radius: 50%;
        cursor: pointer;
        background: #1e1b18; }
        body.dark .shop .shop__filtro .shop__filtro__range input[type=range]::-webkit-slider-thumb {
          background: #d64c73; }
      .shop .shop__filtro .shop__filtro__range input[type=range]::-moz-range-thumb {
        border: none;
        height: 17px;
        width: 17px;
        margin-top: -8px;
        border-radius: 50%;
        cursor: pointer;
        background: #1e1b18; }
        body.dark .shop .shop__filtro .shop__filtro__range input[type=range]::-moz-range-thumb {
          background: #d64c73; }
      .shop .shop__filtro .shop__filtro__range input[type=range]::-ms-thumb {
        border: none;
        height: 17px;
        width: 17px;
        margin-top: -8px;
        border-radius: 50%;
        cursor: pointer;
        background: #1e1b18; }
        body.dark .shop .shop__filtro .shop__filtro__range input[type=range]::-ms-thumb {
          background: #d64c73; }
      .shop .shop__filtro .shop__filtro__range input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 8px;
        cursor: pointer;
        border-radius: 4px;
        background: #3e92cc; }
        body.dark .shop .shop__filtro .shop__filtro__range input[type=range]::-webkit-slider-runnable-track {
          background: #21385e; }
      .shop .shop__filtro .shop__filtro__range input[type=range]:focus::-webkit-slider-runnable-track {
        background: #3e92cc; }
      .shop .shop__filtro .shop__filtro__range input[type=range]::-moz-range-track {
        width: 100%;
        height: 8px;
        cursor: pointer;
        border-radius: 4px;
        background: #3e92cc; }
        body.dark .shop .shop__filtro .shop__filtro__range input[type=range]::-moz-range-track {
          background: #21385e; }
      .shop .shop__filtro .shop__filtro__range input[type=range]::-ms-track {
        width: 100%;
        height: 8px;
        cursor: pointer;
        border-radius: 4px;
        background: #3e92cc;
        background: transparent;
        border-color: transparent;
        color: transparent; }
        body.dark .shop .shop__filtro .shop__filtro__range input[type=range]::-ms-track {
          background: #21385e; }
      .shop .shop__filtro .shop__filtro__range #p-range {
        margin-top: 5%; }
    .shop .shop__filtro .shop__filtro__club {
      display: flex;
      flex-direction: column;
      width: 50%; }
      .shop .shop__filtro .shop__filtro__club button, .shop .shop__filtro .shop__filtro__club .main__img .main__img__section .contador .contador_div a, .main__img .main__img__section .contador .contador_div .shop .shop__filtro .shop__filtro__club a, .shop .shop__filtro .shop__filtro__club .main__product .info__product .btn__producto, .main__product .info__product .shop .shop__filtro .shop__filtro__club .btn__producto {
        margin: 5px;
        padding: 5px; }
  .shop .shop__cards {
    width: 75%;
    height: 80vh;
    margin: 2%;
    background-color: #FFFFFF;
    overflow: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1%; }
    body.dark .shop .shop__cards {
      background-color: #201e1b; }
    .shop .shop__cards .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 600px; }
      .shop .shop__cards .card .card__img {
        width: 80%;
        padding-top: 25px; }
        .shop .shop__cards .card .card__img img {
          width: 100%;
          height: 400px;
          object-fit: cover;
          overflow: hidden; }
      .shop .shop__cards .card .card__txt {
        width: 80%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .shop .shop__cards .card .card__txt .card__txt__div .txt__liga {
          color: #1e1b18; }
          body.dark .shop .shop__cards .card .card__txt .card__txt__div .txt__liga {
            color: #7aafcc; }
        .shop .shop__cards .card .card__txt .card__txt__stock {
          font-size: 0px; }
      .shop .shop__cards .card .card__txt__btn {
        width: 80%;
        cursor: pointer;
        bottom: 0px;
        position: relative;
        display: flex;
        align-self: center;
        justify-content: center;
        text-align: center;
        margin: 0% 20%;
        padding: 5px 10px;
        color: #FFFFFF;
        background-color: #1e1b18; }
        body.dark .shop .shop__cards .card .card__txt__btn {
          color: #FFFFFF;
          background-color: #21385e; }
        .shop .shop__cards .card .card__txt__btn:hover {
          background-color: #d8315b; }
        body.dark .shop .shop__cards .card .card__txt__btn:hover {
          background-color: #d64c73; }

.filtro__sacar {
  display: none !important; }

.eliminarFiltro {
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 5px 10px;
  color: #FFFFFF;
  background-color: #1e1b18; }
  .eliminarFiltro:hover {
    background-color: #d8315b; }
  body.dark .eliminarFiltro {
    color: #FFFFFF;
    background-color: #21385e; }
    body.dark .eliminarFiltro:hover {
      background-color: #d64c73; }

.main__product {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh; }
  .main__product .sec__img__product {
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    padding: 2%; }
    .main__product .sec__img__product .img__product {
      width: 100%; }
  .main__product .info__product {
    width: 50%;
    padding: 2%; }
    .main__product .info__product .info__product__titulo h2 {
      font-size: xx-large; }
    .main__product .info__product .btn__producto {
      background-color: #1e1b18;
      color: #FFFFFF; }
    body.dark .main__product .info__product #cantidad, body.dark .main__product .info__product #talle {
      background-color: #201e1b; }

.product__separar {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .product__separar div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px; }
    .product__separar div a {
      margin: 0 1%;
      text-align: center; }

.main__product__relacionados {
  display: flex;
  align-items: center;
  margin: 2% 10%; }

#theme {
  border: 5px solid #FFFFFF; }
  body.dark #theme {
    border: 5px solid #201e1b; }

.theme {
  background-color: #3e92cc;
  padding: 0;
  border-radius: 1000px;
  position: relative;
  display: flex; }
  .theme span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #FFFFFF; }
  .theme::after {
    content: url(../../assets/img/iconos/iconodarkmode.png);
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: unset;
    right: 0;
    border-radius: 100px; }
  .theme.theme_active {
    background-color: #0a2463; }
    .theme.theme_active:hover {
      background-color: #d64c73; }
    .theme.theme_active::after {
      top: 0;
      left: 0;
      right: unset; }

.toastify {
  padding: 12px 20px;
  color: #fff;
  display: inline-block;
  background: #3e92cc;
  position: fixed;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 0px;
  cursor: pointer;
  text-decoration: none;
  max-width: calc(50% - 20px);
  z-index: 2147483647; }
  body.dark .toastify {
    background: #d64c73; }

.toastify.on {
  opacity: 1; }

.toast-close {
  background: 0 0;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  opacity: .4;
  padding: 0 5px; }

.toastify-right {
  right: 15px; }

.toastify-left {
  left: 15px; }

.toastify-top {
  top: -150px; }

.toastify-bottom {
  bottom: 100px; }

.toastify-rounded {
  border-radius: 25px; }

.toastify-avatar {
  width: 1.5em;
  height: 1.5em;
  margin: -7px 5px;
  border-radius: 2px; }

.toastify-center {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: fit-content;
  max-width: -moz-fit-content; }

@media only screen and (max-width: 360px) {
  .toastify-left, .toastify-right {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: fit-content; } }
