@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  box-sizing: border-box;
  scroll-behavior: smooth; }

h1, h2, h3, h4 {
  font-weight: 700; }

a {
  text-decoration: none; }

button {
  cursor: pointer;
  border: none;
  background-color: #fcfcfc;
  padding: 5px; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 10%;
  background-color: antiquewhite;
  position: sticky;
  flex-wrap: nowrap; }
  header div a {
    display: inline-block;
    text-decoration: none; }
  header nav {
    display: inline-block;
    align-items: center;
    justify-content: center; }
  header ul {
    list-style: none;
    display: flex;
    justify-content: space-around; }
    header ul li {
      width: fit-content;
      display: flex;
      margin: 3%; }
      header ul li a {
        display: inline-block;
        text-decoration: none;
        text-align: center; }

.main__img {
  width: 100%; }
  .main__img .main__img__section {
    width: 100%;
    max-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main__img .main__img__section img {
      z-index: -1;
      width: fit-content; }
    .main__img .main__img__section div {
      z-index: 2;
      position: absolute;
      margin: auto 30%;
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.589);
      display: flex;
      flex-direction: column; }
      .main__img .main__img__section div h3 {
        text-align: center; }
      .main__img .main__img__section div button {
        margin: auto; }

.main__contenido {
  margin: 2% 10%; }

.carrito {
  margin: 5% 10%;
  background-color: aqua;
  display: grid;
  grid-template-areas: "head head head head head head head" "body body body body body body body" "foot foot foot foot foot foot foot"; }

.carrito__head {
  grid-area: head;
  background-color: antiquewhite;
  /*display: grid;
    gap: 10px 10px;
    grid-template-areas:
    "borrar img nombre talle cant precio subtotal";
    
    &:first-child{grid-area: borrar;width: 10%;}
    &:nth-child(2){grid-area: img; width: 15%;}
    &:nth-child(3){grid-area: nombre; width: 15%;}
    &:nth-child(4){grid-area: talle; width: 15%;}
    &:nth-child(5){grid-area: cant; width: 15%;}
    &:nth-child(6){grid-area: precio; width: 15%;}
    &:nth-child(7){grid-area: subtotal; width: 15%;}
    */ }

.carrito__body {
  grid-area: body;
  background-color: #8f2222; }

.carrito__foot {
  grid-area: foot;
  background-color: black; }

/*
"envio calcular nada nada nada nada envioprecio"
    "cupon  cupon btncupon nada2 nada2 nada2 cuponprecio"
    "nada3 nada3 nada3 nada3 fin fin fin"
*/
.main__contacto {
  width: 100%;
  display: flex; }
  .main__contacto section {
    width: 50%; }
  .main__contacto .main__contacto__sec2 {
    background-image: url(../../assets/img/img_contacto/messi_llamando.jpg);
    background-position: center;
    background-size: cover; }
  .main__contacto .main__contacto__sec1 {
    padding: 5% 2%; }
