// HEADER

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10%;
    background-color: $color-b;
    body.dark &{background-color: $colorDark-negro-claro;}
    position: sticky;
    flex-wrap: nowrap;
    z-index: 5;
    div{ 
        a{
        display: inline-block;
        text-decoration: none;
        }
        
    }
    nav{
        display: inline-block;
        align-items: center;
        justify-content: center;
    }

    ul{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        li{
            width: fit-content;
            display: flex;
            margin: 3%;
            a{ 
                font-weight: 600;
                display: inline-block;
                text-decoration: none;
                text-align: center;
                @include hover-a;
                body.dark & {@include hoverDark-a}
            }
            
        }
    }
}