//ESTILOS DE LA TABLA

.carrito{
    margin: 5% 10%;
    background-color: aqua;
    display: grid;
    grid-template-areas:
    "head head head head head head head"
    "body body body body body body body"
    "foot foot foot foot foot foot foot";
}
.carrito__head{
    grid-area: head;
    background-color: antiquewhite;
    
    /*display: grid;
    gap: 10px 10px;
    grid-template-areas:
    "borrar img nombre talle cant precio subtotal";
    
    &:first-child{grid-area: borrar;width: 10%;}
    &:nth-child(2){grid-area: img; width: 15%;}
    &:nth-child(3){grid-area: nombre; width: 15%;}
    &:nth-child(4){grid-area: talle; width: 15%;}
    &:nth-child(5){grid-area: cant; width: 15%;}
    &:nth-child(6){grid-area: precio; width: 15%;}
    &:nth-child(7){grid-area: subtotal; width: 15%;}
    */
}

.carrito__body{
    grid-area: body;
    background-color: rgb(143, 34, 34);
}

.carrito__foot{
    grid-area: foot;
    background-color: black;
}

/*
"envio calcular nada nada nada nada envioprecio"
    "cupon  cupon btncupon nada2 nada2 nada2 cuponprecio"
    "nada3 nada3 nada3 nada3 fin fin fin"
*/







