//ESTILOS DE LA TABLA
.carrito__titulo{margin: 5% 11% 2%;}
.carrito{
    margin: 5% 10%;
    display: grid;
    grid-template-areas:
    "head"
    "body"
    "envio"
    "cupon"
    "total"
    "finalizar";


    .carrito__head{
        grid-area: head;
        @include grid-center;
        margin: 1% 0%;
        padding: 1% 0%;
        background-color: $color-b;
        body.dark &{ background-color: $colorDark-negro-claro;}
        justify-content: space-around;
        grid-template-areas:"head1 head2 head3 head4 head5 head6";
        grid-template-columns: 5% 20% 25% 15% 15% 15%;
        .carrito__head__div1{grid-area: head1}
        .carrito__head__div2{grid-area: head2}
        .carrito__head__div3{grid-area: head3}
        .carrito__head__div4{grid-area: head4}
        .carrito__head__div5{grid-area: head5}
        .carrito__head__div6{grid-area: head6}
        
    }
    
    .carrito__body{
        grid-area: body;
        @include grid-center;
        margin: 1% 0% 2% 0%;
        padding: 1% 0%;
        background-color: $color-b;
        body.dark &{ background-color: $colorDark-negro-claro;}

        grid-template-rows: auto;
        row-gap: 2%;
        .carrito__body__div{
            @include grid-center;
            justify-content: space-around;
            grid-template-areas: "delete foto detalle talle cantidad precio";
            grid-template-columns: 5% 20% 25% 15% 15% 15%;
            width: 100%;
            .body-row{
                @include d-flex-center;
                padding: 5%;
                
            }
            .carrito__body__div__row1{grid-area: delete; span{cursor: pointer;}}
            .carrito__body__div__row2{grid-area: foto;.img_carrito{width: 200px;height: 200px;object-fit: cover; overflow: hidden;}}
            .carrito__body__div__row3{grid-area: detalle;}
            .carrito__body__div__row4{grid-area: talle;}
            .carrito__body__div__row5{grid-area: cantidad;}
            .carrito__body__div__row6{grid-area: precio;}
        }
        
    }
    
    .carrito__envio{
        grid-area: envio;
        @include grid-carrito-final; 
        grid-template-areas:"envio1 envio2 envio3 envio4 envio5 envio6";
    }
    
    .carrito__cupon{
        grid-area: cupon;
        padding: 1% 5%;
        @include grid-carrito-final;
        grid-template-areas:"cupon1 cupon1 cupon2 cupon3 cupon4 cupon5";
        input{body.dark &{background-color: $colorDark-negro-claro;}}
        button{padding: 5px;}
        #agregar_cupon{margin-right: 1%;}
        .carrito__cupon__div1{grid-area: cupon1;}
        .carrito__cupon__div6{grid-area: cupon5;text-align: end;}
    }
    
    .carrito__total{
        grid-area: total;
        @include grid-carrito-final;
        grid-template-areas:"total1 total2 total3 total4 total5 total6";
        .carrito__total__div6{grid-area: total6;text-align: end;}
    }
    
    .carrito__finalizar{
        grid-area: finalizar;
        @include grid-carrito-final;
        grid-template-areas:"fin1 fin2 fin3 fin4 fin5";
        .carrito__finalizar__div5{grid-area: fin5;text-align: end;}
    }


}

.btn-carrito-delete{
    background-color: transparent;
    &:hover{background-color: transparent;  @include crecer;}
    body .dark & {background-color: transparent;}
}