.main__contacto{
    width: 100%;
    display: flex;
    section{width: 50%;}

    .main__contacto__sec2{
        background-image: url(../../assets/img/img_contacto/messi_llamando.jpg);
        background-position: center;
        background-size: cover;
    }

    .main__contacto__sec1{
        padding: 5% 2%;
        




    }
}

