.shop{
    width: 100%;
    display: flex;
    .shop__filtro{
        width: 25%;
        height: 100vh;
        background-color: $color-b;
        margin: 2%;
        padding: 2%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    
        .shop__filtro__buscar{
            display: inline-flex;
            input{width: 65%; margin-right: 10px;}
        }
        .shop__filtro__filtrar{
            h4{display: inline-flex;}
            .shop__filtro__filtrar__rango{width: 65%;}
        }

    }

    .shop__cards{
        background-color: $color-b;
        width: 75%;
        margin: 2%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        
        .card{
            .card__img__placehodler{
                width: 250px;
                height: 250px;
                background-color: $color-a;
            }
        }
    }



}