.shop{
    width: 100%;
    display: flex;
    .shop__filtro{
        width: 25%;
        height: 80vh;
        background-color: $color-b;
        body.dark & { background-color: $colorDark-negro-claro;}
        margin: 2%;
        padding: 2%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    
        .shop__filtro__buscar{
            display: inline-flex;
            input{width: 65%; margin-right: 10px; body.dark &{ background-color: $colorDark-negro-claro;}}
        }
        .shop__filtro__filtrar{
            h4{display: inline-flex;}
            .shop__filtro__filtrar__rango{width: 65%;}
        }
        .shop__filtro__club{
            display: flex;
            flex-direction: column;
            width: 50%;
            button{margin: 5px; padding: 5px;}
        }

    }

    .shop__cards{
        
        width: 75%;
        height: 80vh;
        margin: 2%;
        background-color: $color-b;
        body.dark & { background-color: $colorDark-negro-claro;}

        overflow: scroll;
        overflow-x: hidden;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 1%;
        
        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 600px;
            .card__img{
                width: 80%;
                padding-top: 25px;
                img{
                    width: 100%;
                    height: 400px;
                    object-fit: cover;
                    overflow: hidden;
                }  
            }

            .card__txt{
                width: 80%;
                height: 100px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .card__txt__div{.txt__liga{color: $color-negro; body.dark &{color: $colorDark-azul;}}}
                .card__txt__stock{
                    font-size: 0px;
                }
            }

            .card__txt__btn{
                width: 80%;
                cursor: pointer;
            
                bottom: 0px;
                position: relative;
                
                display: flex;
                align-self: center;
                justify-content: center;
                text-align: center;
           
                margin: 0% 20%;
                padding: 5px 10px;
                
                color: $color-b;
                background-color: $color-negro;
                body.dark & {
                    color: $colorDark-b;
                    background-color: $colorDark-azul-oscuro;
                }
                
                @include hover-btn;
                body.dark & {@include hoverDark-btn}
            }

            
        }
    }



}


// PARA JS. CLASE QUE LE DA LA PROPIEDAD NECESARIA PARA QUE EN LA SHOP NO SE MUESTRE LO QUE NO COINCIDE
.filtro__sacar{
   display: none!important;   
}
.eliminarFiltro{
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 5px 10px;
    color: $color-b;
    background-color: $color-negro;
    @include hover-btn;
    body.dark & {
        color: $colorDark-b;
        background-color: $colorDark-azul-oscuro;
        @include hoverDark-btn
    }
}
