
// TRNSICIONES
@mixin crecer {
  scale: 1.2;
  transition: all ease 1s;
}


// FOOTER
@keyframes rebota{
    90%{height: 20px;}
    
    100%{
      transform: translateY(60px);
      height: 18px;
    }
  }

